@use '../../styles/mixins.scss';

.order-cart-page {
  &__header {
    margin-bottom: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    @include mixins.breakpoint('sm') {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  h1 {
    margin-bottom: 0.25rem;
  }
  &__address {
    display: flex;
    gap: 0.25rem;
    align-items: center;
  }
  &__details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  &__summary {
    &-total {
      font-weight: bold;
      font-size: 1.25rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-label {
        font-size: 1rem;
      }
    }
  }
  .order-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--card);
    padding: 0.5rem;
    @include mixins.breakpoint('sm') {
      padding: 0.75rem;
    }
    @include mixins.breakpoint('md') {
      padding: 1rem;
    }
    &__image {
      margin: 0;
      margin-inline: 0;
      img {
        object-fit: cover;
        width: 4.5rem;
        height: 4.55rem;
        @include mixins.breakpoint('sm') {
          width: 6.5rem;
          height: 6.5rem;
        }
      }
    }
    &__text {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    &__modifier {
      display: flex;
      gap: 0.5rem;
      font-size: 0.9rem;
    }
    &__quantity {
      &--text {
        padding-right: 1rem;
      }
    }
  }
}
